@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 64px;
}

.navigation-logo-link {
  display: flex;
  padding-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 465px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-list {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user-item .navigation-item-favourites {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.button {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
}


.button-all {
  font-size: 16px;
  line-height: 20px;
  max-width: 232px;
  width: 100%;
}

.main-container {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background-image: url("../images/content/content-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  min-height: 484px;
  position: relative;
}

.subject {
  display: block;
  margin: 0 auto;
}

.background-mask {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 69px;
  margin-bottom: 25px;
}

.hero-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 90px;
}

.ero-subtitle {
  display: flex;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  display: flex;
  width: 100%;
}

.advantages-item-wrapper {
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.advantages-items {
  display: flex;
  width: 400px;
  min-height: 390px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-items-road {
  display: flex;
  width: 400px;
  min-height: 390px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-meal {
  display: flex;
  width: 400px;
  min-height: 390px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.advantages-icom {
  display: block;
  margin-left: 169px;
  margin-bottom: 31px;
}

.advantages-home {
  display: block;
  margin-left: 164px;
  margin-bottom: 31px;
}

.advantages-meal {
  display: block;
  margin-left: 164px;
  margin-bottom: 31px;
}

.advantages-caption {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-characteristic {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.advantages-title {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0;
  margin-bottom: 62px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-desc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-subtitle {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-tagline {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.appointment {
  display: flex;
  padding: 96px 0;
  flex-direction: column;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 96;
  margin-bottom: 20px;
}

.appointment-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  max-height: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.appointment-button {
  max-width: 376px;
  min-height: 52px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/content/content-photo-3.jpg");
  background-size: 1200px;
  min-height: 415px;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.newsletter-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 96px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-button {
  max-width: 232px;
  width: 100%;
  background-color: #82B3D3;
}

.newsletter-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  margin-bottom: 104px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 45px;
  margin-right: 236px;
  margin-left: 70px;
  padding: 0;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

.footer-phone {
  display: flex;
  margin-top: 45px;
  margin-right: 235px;
}

.footer-logo {
  display: flex;
  margin-top: 49px;
  margin-right: 70px;
}

.catalog-offers {
  background-image: url("../images/content/content-photo-4.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;
  min-height: 409px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

.catalog-offers a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
  list-style-type: none;
  ;
  padding: 0;
}

.breadcrumbs-items {
  margin-left: 70px;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-group {
  display: flex;
  margin-left: 70px;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
}

.calculate-the-cost {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
}

.cost {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;

}

.appointment-form-cost {
  margin-top: 0;
  margin-bottom: 36px;
}

.button-apply-reset {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 70px;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  max-width: 232px;
  width: 100%;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.search-result {
  display: flex;
  min-height: 49px;
  margin-top: 50px;
}

.display-option {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.display-option-item {
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
}

.botton-reset {
  font-size: 16px;
  line-height: 20px;
  background: none;
  max-width: 232px;
  width: 100%;
}

.result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 70px;
  margin-right: 200px;
  margin-bottom: 47px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-width: 292px;
  margin-right: 70px;

}

.button-light {
  color: #000000;
  background: none;
  max-width: 232px;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-price {
  display: flex;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-type-of-housing {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 232px;
  width: 100%;
}

.product-card-favourites {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 232px;
  width: 100%;
  background-color: #82B3D3;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.pagination {
  display: flex;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: capitalize;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.pagination-item {
  min-height: 60px;
  min-width: 60px;
  margin-left: 8px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
