@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-user-list {
  display: flex;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.button {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-all {
  font-size: 16px;
  line-height: 20px;
  max-width: 232px;
  width: 100%;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/content/content-background.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
}

.subject {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.background-mask {
  padding-bottom: 0;
}

.hero-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.hero-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  display: flex;
  width: 100%;
}

.advantages-item-wrapper {
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.advantages-items {
  display: flex;
  width: 400px;
  min-height: 390px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-items-road {
  display: flex;
  width: 400px;
  min-height: 390px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-meal {
  display: flex;
  width: 400px;
  min-height: 390px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.advantages-icom {
  margin-left: 164px;
}

.advantages-caption {
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-characteristic {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.advantages-title {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-headline {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-desc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-subtitle {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.advantages-tagline {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.appointment {
  display: flex;
  padding: 96px 0;
  flex-direction: column;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  max-height: 592px;
  margin: 0 auto;
}

.appointment-button {
  max-width: 376px;
  width: 100%;
  margin: 0 auto;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/content/content-photo-3.jpg");
  background-size: 1200px;
  min-height: 415px;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.newsletter-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-button {
  max-width: 232px;
  width: 100%;
  background-color: #82B3D3;
  border-style: none;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;

}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

.footer-logo {
  width: 115px;
}

.catalog-offers {
  background-image: url("../images/content/content-photo-4.jpg");
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;

}

.catalog-offers a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.cost {
  font-size: 20px;
  line-height: 24px;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  max-width: 232px;
  width: 100%;
  background-color: #82B3D3;
}

.search-result {
  display: flex;
}

.display-option {
  display: flex;
}

.botton-reset {
  font-size: 16px;
  line-height: 20px;
  background: none;
  max-width: 232px;
  width: 100%;
}

.result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-light {
  color: #000000;
  background: none;
  max-width: 232px;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-price {
  display: flex;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-type-of-housing {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 232px;
  width: 100%;
}

.product-card-favourites {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 232px;
  width: 100%;
  background-color: #82B3D3;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.pagination {
  display: flex;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: capitalize;
}
